<div class="col-md-12">
   <div class="row road">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">Road</h1>
       <p class="slogan"> High-tech tunnelling for safe highways
       </p>
       <p class="lead">
         <%= link_to 'Join Us', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>
