/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

//-----navbar---------

.navbar-default {
    background-color: #233140;  //navbar背景颜色

    border-color: #233140; //navbar边框色

    margin-bottom: 0; //底部 margin 不撑开距离
}

.navbar-fixed-top {
    top: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0; //圆角为0
  }
}

//-----navbar Logo color---------

.navbar-brand > img {
   display: inline-block; //图片和链接文字显示在同一行
   margin-right: 10px; //图片和链接文字拉开一点距离
   width: 22px; //定制图片宽度
   height: 18px; //定制图片高度
}

.navbar-default .navbar-brand {
  color: #EF6C00; //字体颜色

  padding: 10px 15px; //上下10px，左右15px
  line-height: 30px; //文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FAFAFA; //鼠标放置在链接上的文字颜色

  background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
}

//--------navbar link color------

.navbar-default .navbar-nav > li > a{
  color: #EF6C00; //字体颜色

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FAFAFA; //鼠标放置在链接上的文字颜色

  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FF6F00;

  background-color: #00B0FF;

}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #233140; //账户下拉菜单背景颜色

  color: #C51162; //用户名文字颜色

}

//----search-----

.form-group {
    margin-bottom: 10px;
    margin-top: 8px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 200px; //加上width
}

//------box1------

.box {
     background-image: url("header.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 50px;

.box-inner {
   background-color: rgba(250, 250, 250, 0.00);//背景颜色含透明度
   max-width: 500px;//最大宽度
   margin-top: 200px;//和顶部拉开距离
   margin-bottom: 0;//这样就可以紧接息面的描述文字
   border-top-right-radius: 3px;//右上角圆边
   border-top-left-radius: 3px;//左上角圆边
}

.title {

   text-align: left;//文字左对齐
   color: #FF6D00;  //字体颜色
   padding: 50px 20px 0;//上50px，左右20px，下0
}

.slogan {

   margin: 0;//上下左右margin为0
   font-size: 24px;//字体大小
   max-width: 500px;//最大宽度
   background-color: rgba(250, 250, 250, 0.00);//背景颜色含透明度
   padding: 20px;//上下左右padding为20px
   text-align:center;//文字左对齐
   color: #FF6D00;//字体颜色

   border-bottom-right-radius: 3px;//右下角圆边
   border-bottom-left-radius: 3px;//左下角圆边
}

.lead {
   margin-bottom: 60px;
   text-align: center;
   color: white;
}
}

.metro {
     background-image: url("metro.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 50px;

.box-inner {
    background-color: rgba(250, 250, 250, 0.15);//背景颜色含透明度
    max-width: 400px;//最大宽度
    margin-top: 200px;//和顶部拉开距离
    margin-bottom: 0;//这样就可以紧接息面的描述文字
    border-top-right-radius: 3px;//右上角圆边
    border-top-left-radius: 3px;//左上角圆边
}

.title {

   text-align: left;//文字左对齐
   color: #304FFE;  //字体颜色
   padding: 50px 20px 0;//上50px，左右20px，下0
}

.slogan {

   margin: 0;//上下左右margin为0
   font-size: 24px;//字体大小
   max-width: 500px;//最大宽度
   background-color: rgba(250, 250, 250, 0.45);//背景颜色含透明度
   padding: 20px;//上下左右padding为20px
   text-align:left;//文字左对齐
   color: #304FFE;//字体颜色

   border-bottom-right-radius: 3px;//右下角圆边
   border-bottom-left-radius: 3px;//左下角圆边
}

.lead {
   margin-bottom: 60px;
   text-align: center;
   color: white;
}
}

.road {
     background-image: url("road.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 50px;

.box-inner {
   background-color: rgba(250, 250, 250, 0.15);//背景颜色含透明度
   max-width: 500px;//最大宽度
   margin-top: 200px;//和顶部拉开距离
   margin-bottom: 0;//这样就可以紧接息面的描述文字
   border-top-right-radius: 3px;//右上角圆边
   border-top-left-radius: 3px;//左上角圆边
}

.title {

   text-align: center;//文字左对齐
   color: #76FF03;  //字体颜色
   padding: 50px 20px 0;//上50px，左右20px，下0
}

.slogan {

   margin: 0;//上下左右margin为0
   font-size: 24px;//字体大小
   max-width: 500px;//最大宽度
   background-color: rgba(250, 250, 250, 0.00);//背景颜色含透明度
   padding: 20px;//上下左右padding为20px
   text-align:center;//文字左对齐
   color: #76FF03;//字体颜色

   border-bottom-right-radius: 3px;//右下角圆边
   border-bottom-left-radius: 3px;//左下角圆边
}

.lead {
   margin-bottom: 60px;
   text-align: center;
   color: white;
}
}

.railway {
     background-image: url("railway.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 50px;

.box-inner {
   background-color: rgba(250, 250, 250, 0.75);//背景颜色含透明度
   max-width: 500px;//最大宽度
   margin-top: 200px;//和顶部拉开距离
   margin-bottom: 0;//这样就可以紧接息面的描述文字
   border-top-right-radius: 3px;//右上角圆边
   border-top-left-radius: 3px;//左上角圆边
}

.title {

   text-align: left;//文字左对齐
   color: #03A9F4;  //字体颜色
   padding: 50px 20px 0;//上50px，左右20px，下0
}

.slogan {

   margin: 0;//上下左右margin为0
   font-size: 24px;//字体大小
   max-width: 400px;//最大宽度
   background-color: rgba(250, 250, 250, 0.00);//背景颜色含透明度
   padding: 20px 10px 20px 30px;//上下左右padding为20px
   text-align:left;//文字左对齐
   color: #03A9F4;//字体颜色

   border-bottom-right-radius: 3px;//右下角圆边
   border-bottom-left-radius: 3px;//左下角圆边
}

.lead {
   margin-bottom: 60px;
   text-align: center;
   color: white;
}
}

//---admin table style-----

.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

//------image full page------

.container-fluid .box{
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -30px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}

.container-fluid .metro{
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -30px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}

.container-fluid .road{
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -30px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}

.container-fluid .railway{
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -30px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}

//------button color-------其他的 btn-default、btn-info、btn-success 等依样画葫芦修改即可

.btn-danger {
    color: #fff;//字体颜色

    background-color: #EF6C00;//背景颜色

    border-color: #EF6C00;//边框颜色

}

.btn-danger:hover {
    background-color: #E65100;//鼠标放置在btn上的背景颜色

    border-color: #E65100;//鼠标放置在btn上的边框颜色

}

//------button size-------默认有 btn-xs、btn-sm、btn-lg 对应不同的按钮尺寸

.btn-lg, .btn-group-lg > .btn {
    padding: 8px 16px;//通过padding来决定btn的大小
    font-size: 20px;//btn文字大小
    letter-spacing: 3px;//调整文字间距
    border-radius: 3px;//btn圆角
    width: 200px;//这里用指定宽度把btn拉得更长
}

//-------设置弹窗样式----------

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

//------crchijoblisting-----copy

/*job*/
.job_newsimg{ margin-bottom:20px; padding:10px 4% !important;}

.job_search{ padding:10px 2%; background:#eaeaea;}
.job_search .job_t{ float:left; font-size:16px; margin-right:2%; line-height:34px;}
.job_search .job_sele{ width:22%; float:left; margin-right:2%; float:left; height:34px; line-height:34px; background:#fff url(../images/job_bg.gif) no-repeat right; text-indent:10px; border:1px solid #e3e3e3;}
.job_search .job_sele ._option{ top:34px; border-color:#eaeaea; line-height:30px; }
.job_search .job_sele ._option a{border-bottom:1px dotted #eaeaea;}
.job_search .jobse_inp{ width:20%; height:36px; line-height:36px; background:#fff; border:1px solid #e3e3e3; float:left; text-indent:10px; margin-right:2%;}
.job_search .jobse_btn{ width:10%; height:35px; line-height:35px; background:#ffad00; color:#fff; border:none;}

.job_main{ margin-top:20px;}
.job_main .job_menu{ width:15%; float:left; }
.job_main .job_list{ width:60%; float:right;}

.job_menu li{ line-height:40px; border:1px solid #dfdfdf; margin-bottom:10px; text-align:center; background:#dfdfdf; font-size:16px; position:relative;}
.job_menu li a{ display:block; color:#565656;}
.job_menu li.cur a,.job_menu li a:hover{ background:#fff; color:#de2123;}
.job_menu li i{ width:5px; height:7px; background:url(../images/job_jt.gif) no-repeat 0 0; position:absolute; top:50%; margin-top:-3px; right:-5px; display:none;}
.job_menu li.cur a i,.job_menu li a:hover i{ display:block;}

.JobList-J2 ._jt { height: 41px; line-height: 26px; overflow: hidden;  *zoom: 1;
cursor: pointer; padding:10px 0; border:1px solid #e7e7e7; margin-bottom:20px; }
.JobList-J2 ._jt .title { float: left; width:85%; text-indent:20px; font-size:16px; margin-top: 0px; margin-right:2%; line-height:24px; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.JobList-J2 ._jt .jico { float: right; width:24px; height:24px; line-height:24px; text-align:center; overflow:hidden; background:#838383; color:#fff; margin-right:1%;}
.JobList-J2 ._jt .jico_o{ display:none; background:#de2123; color:#fff;}
.JobList-J2 ._jc { display: none; border:1px solid #e7e7e7; margin-bottom:20px; border-top:none;}
.JobList-J2 ._jcon { margin:0 10px; border-top:1px dotted #e7e7e7; padding:10px;}
.JobList-J2 ._jt_act{ margin-bottom:0; border-bottom:none;}
.JobList-J2 ._jt_act .jico_o{ display:block;}
.JobList-J2 ._jt_act .jico_c{ display:none;}
.JobList-J2 .job_tt{ margin-bottom:10px;}
.JobList-J2 ._jt_act .title{ color:#de2123; }
.JobList-J2 .job_btnn{ margin-top:10px;}
.JobList-J2 .job_btnn a{ display:inline-block; line-height:30px; width:100px; background:#de2123; color:#fff; text-align:center;}

/*qa*/
.qa_main .job_list{ float:none; width:100%;}

/*20150416*/
.job_news .newsly_left{  float: none;  width: 100%;}
/*20150416*/

//------footer------http://codepen.io/nickbraver/pen/mHLCp

@import url(http://fonts.googleapis.com/css?family=SourceSansPro:300,400);

.footer {
    color: white;
}

.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_left{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 15px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
  padding-top: 15px;
}
