
<div class="footer">
  <div id="button"></div>
    <div id="container">
      <div id="cont">
        <div class="footer_left">
        	   <h3>Copyright ©2016 Rails101  Design by scapetoro</h3>
        </div>
      </div>
    </div>
</div>
