
<div class="footer">
  <div id="button"></div>
    <div id="container">
      <div id="cont">
        <div class="footer_center">
        	   <h3>Copyright ©2016 Rails101</h3>
             Design by scapetoro
        </div>
      </div>
    </div>
</div>
